[Unit]
Description= Modify wake-from-sleep behaviour for certain devices.

[Service]
ExecStart=/bin/bash /usr/sbin/modify-wake-from-sleep.sh

[Install]
WantedBy=multi-user.target
